body {
    background-color: #f0f8ff; /* Light blue background for the entire page */
  }
  
  .card {
    background-color: white; /* Set background color of the card */
    width: 100%; /* Set the width of the card to 200% */
    max-width: 400px; /* Set a maximum width of 700px */
    padding: 4rem; /* Add padding of 4rem inside the card */
  }
  